# DEMOGRAPHIC DATA ANALYZER

## Import libraries

In [ ]:
import pandas as pd
import numpy as np

## import csv file

df = pd.read_csv('adult.data.csv')

## First 5 rows

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

## Number of rows

In [4]:
df.shape[0]

32561

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [5]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## What is the average age of men?

In [21]:
average_age_men = df[df['sex'] == 'Male']['age'].mean().round(1)
print('average is', average_age_men)

average is 39.4

## What is the percentage of people who have a Bachelor's degree?

In [20]:
sum_bachelors = df[df['education']== 'Bachelors'].value_counts().sum()
sum_educ = df['education'].value_counts().sum()
percentage_bachelors = round((sum_bachelors/sum_educ)* 100, 1)
print(percentage_bachelors,'%')

16.4 %

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

### What percentage of people without advanced education make more than 50K?

## with and without `Bachelors`, `Masters`, or `Doctorate`

In [8]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

## percentage with salary >50K

In [9]:
non_percent_high = len(higher_education[higher_education.salary == '>50K'])
non_percent_low = lower_education[lower_education.salary == '>50K'].value_counts().sum()

In [22]:
higher_education_rich = round((non_percent_high/len(higher_education))*100,1)
print(higher_education_rich, '%')

46.5 %

In [23]:
lower_education_rich = round((non_percent_low/len(lower_education))*100,1)
print(lower_education_rich, '%')

17.4 %

## What is the minimum number of hours a person works per week (hours-per-week feature)?

In [25]:
min_work_hours = df['hours-per-week'].min()
print(min_work_hours, 'hour-per-week')

1 hour-per-week

## What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [12]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]

In [18]:
rich_percentage = round(len(num_min_workers[num_min_workers.salary == '>50K'])/len(num_min_workers)* 100,1)
print(rich_percentage,'%')

10.0 %

## What country has the highest percentage of people that earn >50K?

In [26]:
country_count = df['native-country'].value_counts()
rich_country_count = df[df['salary'] == '>50K']['native-country'].value_counts()
highest_earning_country = (rich_country_count/country_count *100).idxmax()
highest_earning_country

'Iran'

In [29]:
highest_earning_country_percentage = round(rich_country_count/country_count *100, 1).max()
print('Iran with', highest_earning_country_percentage, '%')

Iran with 41.9 %

## Identify the most popular occupation for those who earn >50K in India.¶

In [15]:
top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().keys()[0]
top_IN_occupation

'Prof-specialty'